<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"></div>
  <div class="page__content shadow p-3 position-relative">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Order History</h4>
                <p class="card-category"></p>
              </div>
              <div class="card-body">
                <div class="table-responsive" *ngIf = "data.employee?.id !== null">
                  <table class="table">
                    <thead class="text-primary">
                      <th>No</th>
                      <th>Mã đơn hàng</th>
                      <th>Danh sách sản phẩm</th>
                      <th>Ngày đặt hàng</th>
                      <th>Tổng tiền</th>
                      <th>Trạng thái</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of order | paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalLength }, let i = index " >
                        <td>{{i+1}}</td>
                        <td>{{item.id}}</td>
                        <td><div *ngFor="let pro of item.products">{{pro.name}}, SL: {{pro.quantity}}</div></td>
                        <td>{{item.timeOrder | date: 'short'}}</td>
                        <td class="text-primary">{{item.total}}</td>
                        <td>{{item.state}}</td>
                        <td>
                          <!-- <app-edit-oder [id]="item.id" (updateFinished)="finishAndAlert($event)">

                          </app-edit-oder> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
                  <select class="page-link" [(ngModel)]="limit">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=15>15</option>
                  </select>
                  </ul>
                </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
